<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online music streaming website</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="APlayer.min.css" />
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <div class="main">
      <div class="container">
        <div class="row" id="new" href="javascript:hello();">
          <div class="col-md-12">
            <h3>Eminemify</h3>
          </div>
          <form action="/eminem" method="POST">
            <div class="searchbar">
              <input
                class="search_input"
                type="text"
                name="searching"
                placeholder="Search..."
              />
              <button class="search_icon" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
          <% newListItems.slice(-20).forEach(function(item){ %>
          <div class="col-md-3">
            <a href="javascript:void();" class="album-poster">
              <img src="<%= item.picture %>" alt="" />
              <audio controls>
                <source src="<%= item.preview %>" type="audio/mp3" />
              </audio>
            </a>
            <h4><%= item.title %></h4>
            <i class="fa fa-thumbs-up"></i>
            <i class="fa fa-thumbs-down"></i>
            <h5><%= item.like %></h5>
          </div>
          <% }) %>

          <!--   <div class="col-md-3">
            <a href="javascript:void();" class="album-poster">
              <img
                src="https://images.pexels.com/photos/1190297/pexels-photo-1190297.jpeg?auto=compress&cs=tinysrgb&h=450&w=440"
                alt=""
              />
            </a>
            <h4>Lorem ipsum</h4>
            <p>lorem ipsum - 2010</p>
          </div>
          <div class="col-md-3">
            <a href="javascript:void();" class="album-poster">
              <img
                src="https://images.pexels.com/photos/1047442/pexels-photo-1047442.jpeg?auto=compress&cs=tinysrgb&h=450&w=440"
                alt=""
              />
            </a>
            <h4>Lorem ipsum</h4>
            <p>lorem ipsum - 2010</p>
          </div>
          <div class="col-md-3">
            <a href="javascript:void();" class="album-poster">
              <img
                src="https://images.pexels.com/photos/2111015/pexels-photo-2111015.jpeg?auto=compress&cs=tinysrgb&h=450&w=440"
                alt=""
              />
            </a>
            <h4>Lorem ipsum</h4>
            <p>lorem ipsum - 2010</p>
          </div>
          <div class="col-md-3">
            <a href="javascript:void();" class="album-poster">
              <img
                src="https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&h=450&w=440"
                alt=""
              />
            </a>
            <h4>Lorem ipsum</h4>
            <p>lorem ipsum - 2010</p>
          </div>
          <div class="col-md-3">
            <a href="javascript:void();" class="album-poster">
              <img
                src="https://images.pexels.com/photos/1190298/pexels-photo-1190298.jpeg?auto=compress&cs=tinysrgb&h=450&w=440"
                alt=""
              />
            </a>
            <h4>Lorem ipsum</h4>
            <p>lorem ipsum - 2010</p>
          </div> -->
        </div>
        <!-- <div class="row">
          <div class="col-md-12">
            <h3>Top Trending</h3>
          </div>
          <div class="col-md-3">
            <a href="" class="album-poster">
              <img
                src="https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&h=450&w=440"
                alt=""
              />
            </a>
            <h4>Lorem ipsum</h4>
          </div>
          <div class="col-md-3">
            <a href="" class="album-poster">
              <img
                src="https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&h=450&w=440"
                alt=""
              />
            </a>
            <h4>Lorem ipsum</h4>
          </div>
          <div class="col-md-3">
            <a href="" class="album-poster">
              <img
                src="https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&h=450&w=440"
                alt=""
              />
            </a>
            <h4>Lorem ipsum</h4>
          </div>
          <div class="col-md-3">
            <a href="" class="album-poster">
              <img
                src="https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&h=450&w=440"
                alt=""
              />
            </a>
            <h4>Lorem ipsum</h4>
          </div>
          <div class="col-md-3">
            <a href="" class="album-poster">
              <img
                src="https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&h=450&w=440"
                alt=""
              />
            </a>
            <h4>Lorem ipsum</h4>
          </div>
          <div class="col-md-3">
            <a href="" class="album-poster">
              <img
                src="https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&h=450&w=440"
                alt=""
              />
            </a>
            <h4>Lorem ipsum</h4>
          </div>
        </div> -->
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="../main.js"></script>
    <script src="../app1.js"></script>
    <!-- <script>
      var s = "";
      for (var i = 0; i < 5; i++) {
        s +=
          "<div class='col-md-3'><a href='javascript:void();' class='album-poster'><img src='https://images.pexels.com/photos/1190297/pexels-photo-1190297.jpeg?auto=compress&cs=tinysrgb&h=450&w=440' alt='' />" +
          "<audio controls><source src='https://cdns-preview-c.dzcdn.net/stream/c-c805ad156a2754311cb7ba8faa38d7f7-6.mp3'type='audio/mp3'/></audio></a><h4>Lorem ipsum</h4><p>lorem ipsum - 2010</p></div></div>";
      }
      document.getElementById("new").innerHTML = s;
    </script> -->
  </body>
</html>
